<!-- Sidebar backdrop -->
<div
  x-show.in.out.opacity="$store.app.isSidebarOpen"
  class="fixed inset-0 z-10 bg-black bg-opacity-20 lg:hidden"
  style="-webkit-backdrop-filter: blur(14px); backdrop-filter: blur(14px)"></div>
<!-- Sidebar -->
<aside
  x-transition:enter="transition transform duration-300"
  x-transition:enter-start="-translate-x-full opacity-30  ease-in"
  x-transition:enter-end="translate-x-0 opacity-100 ease-out"
  x-transition:leave="transition transform duration-300"
  x-transition:leave-start="translate-x-0 opacity-100 ease-out"
  x-transition:leave-end="-translate-x-full opacity-0 ease-in"
  class=" fixed inset-y-0 z-10 flex flex-col flex-shrink-0 w-64 max-h-screen overflow-hidden transition-all transform
    bg-white border-r shadow-lg lg:z-auto lg:static lg:shadow-none "
  :class="{'-translate-x-full lg:translate-x-0 lg:w-20': !$store.app.isSidebarOpen}">
  <!-- sidebar header -->
  <div
    class="flex items-center justify-between flex-shrink-0 p-2"
    :class="{'lg:justify-center': !$store.app.isSidebarOpen}">
    <span class=" p-2 text-xl font-semibold leading-8 tracking-wider uppercase whitespace-nowrap ">
      Chốt<span :class="{'lg:hidden': !$store.app.isSidebarOpen}">
        liền</span>
    </span>
    <button @click="$store.app.toggleSidebarMenu()" class="p-2 rounded-md lg:hidden">
      <svg
        class="w-6 h-6 text-gray-600"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
      </svg>
    </button>
  </div>
  <!-- Sidebar links -->
  <nav class="flex-1 overflow-hidden hover:overflow-y-auto">
    <ul class="p-2 overflow-hidden">
      <li>
        <a
          href="/dashboard/"
          class="flex items-center p-2 space-x-2 rounded-md hover:bg-gray-100"
          :class="{'justify-center': !$store.app.isSidebarOpen}">
          <span>
            <svg
              class="w-6 h-6 text-gray-400"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0
                  011 1v4a1 1 0 001 1m-6 0h6"/>
            </svg>
          </span>
          <span :class="{ 'lg:hidden': !$store.app.isSidebarOpen }">Dashboard</span>
        </a>
      </li>
      <li>
        <a
          href="/products/"
          class="flex items-center p-2 space-x-2 rounded-md hover:bg-gray-100"
          :class="{'justify-center': !$store.app.isSidebarOpen}">
          <span>
            <svg
              class="w-6 h-6 text-gray-400"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
              <path d="M7 2H3a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zM5 21a2 2 0 1 1 2-2a2 2 0 0 1-2 2zm2-9H3V3h4zm-1 7a1 1 0 1 1-1-1a1 1 0 0 1 1 1zm8-17h-4a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zm-2 19a2 2 0 1 1 2-2a2 2 0 0 1-2 2zm2-9h-4V3h4zm-1 7a1 1 0 1 1-1-1a1 1 0 0 1 1 1zm8-17h-4a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zm-2 19a2 2 0 1 1 2-2a2 2 0 0 1-2 2zm2-9h-4V3h4zm-1 7a1 1 0 1 1-1-1a1 1 0 0 1 1 1z" />
            </svg>
          </span>
          <span :class="{ 'lg:hidden': !$store.app.isSidebarOpen }">Product</span>
        </a>
      </li>
      <!-- Sidebar Links... -->
    </ul>
  </nav>
  <!-- Sidebar footer -->
  
</aside>